params {
    workflow = 'quick'
    phase3_reads = null
    phase3_fetch_cpus = 4
    phase3_fetch_memory = '16 GB'
    phase3_ref_cpus = 16
    phase3_ref_memory = '32 GB'
    phase3_align_cpus = 16
    phase3_align_memory = '32 GB'
    phase3_downstream_cpus = 16
    phase3_downstream_memory = '32 GB'
    phase3_wgs_cpus = 16
    phase3_wgs_memory = '32 GB'
    phase3_fetch_concurrency = 2
    phase3_aria2_split = 1
    phase3_source_mode = 'ena_fastq'
    phase3_sra_aws_bucket = 'sra-pub-run-odp'
    phase3_s3_range_concurrency = 8
    phase3_s3_range_bytes = 268435456
    phase3_s3_range_retries = 4
    phase3_include_wes = false
    phase3_prereq_mode = 'minimal'
    phase3_sra_run_concurrency = 1
    phase3_sra_command_retries = 2
    phase3_fastq_stats_mode = 'seqkit'
    phase3_aligner = 'bwa'
    phase3_bwa_threads = 0
    phase3_sort_threads = 0
    phase3_align_input_mode = 'local_fastq'
    phase3_fast_gpu_smoke_cpus = 192
    phase3_fast_gpu_smoke_memory = '1900 GB'
    phase3_fast_gpu_smoke_expected_gpus = 8
    phase3_fast_gpu_smoke_gpu_name = 'H200'
    phase3_fast_private_freeze_receipt = null
    phase3_fast_private_sha256_receipt = null
    phase3_fast_reference_freeze_receipt = null
    phase3_fast_reference_sha256_receipt = null
    phase3_fast_bam_validation_receipt = null
    phase3_fast_contig_compatibility_receipt = null
    phase3_fast_caller_resource_receipt = null
    phase3_fast_parameter_sha256 = null
    phase3_fast_parabricks_container_digest = null
    phase3_fast_parabricks_version = null
    phase3_fast_cache_prefix = null
    phase3_fast_cache_kms_key_arn = null
    phase3_fast_cache_region = 'us-east-2'
    phase3_fast_replication_mode = 'dry_run'
    phase3_fast_replication_part_size_bytes = 536870912
    phase3_fast_staging_root = '/scratch/diana/phase3_wgs_fast'
    phase3_fast_parabricks_cpus = 192
    phase3_fast_parabricks_memory = '1900 GB'
    phase3_fast_parabricks_num_gpus = 8
    phase3_fast_parabricks_output_root = '/scratch/diana/phase3_wgs_fast/parabricks_mutect'
    phase3_fast_bam_qc_output_root = '/scratch/diana/phase3_wgs_fast/bam_qc'
    phase3_fast_bam_qc_threads = 8
    phase3_fast_cnv_evidence_output_root = '/scratch/diana/phase3_wgs_fast/cnv_evidence'
    phase3_fast_cnv_evidence_bin_size = 5000000
    phase3_fast_cnv_evidence_bedcov_workers = 4
    phase3_fast_sv_evidence_output_root = '/scratch/diana/phase3_wgs_fast/sv_evidence'
    phase3_fast_sv_evidence_threads = 8
    phase3_fast_filter_mutect_output_root = '/scratch/diana/phase3_wgs_fast/filter_mutect'
    phase3_fast_small_variant_mode = 'plan'
    phase3_fast_gatk_version = '4.6.2.0'
    phase3_fast_source_commit = ''
    phase3_fast_run_id = 'diana-wgs-hrd-20260716T033101Z'
    phase3_fast_subject_alias = 'subject01'
    phase3_fast_pair_id = 'subject01_tumor_normal'
    phase3_fast_tumor_sample_id = 'subject01_tumor'
    phase3_fast_normal_sample_id = 'subject01_normal'
    phase3_fast_reference_id = 'ucsc_hg38_analysis_set_full'
    phase3_fast_forbidden_tokens_json = null
    phase3_asset_cache_uri = null
    phase3_asset_cache_mode = 'readwrite'
    phase3_delete_sra_after_conversion = false
    sra_benchmark_runs = 'SRR7890824,SRR7890827'
    sra_benchmark_bytes = 1073741824
    sra_benchmark_parts = 1
    sra_benchmark_strategy = 'aws_s3api_range'
    sra_benchmark_matrix = null
    allow_full_wgs = false
    outdir = "${projectDir}/nextflow-out"
    python_bin = '/usr/bin/python3'
    repo_dir = projectDir.toString()
    container = 'diana-omics:local'
    aws_queue = null
    aws_spot_queue = null
    aws_ondemand_queue = null
    aws_hrd_x86_queue = null
    aws_gpu_queue = null
    aws_region = 'us-east-1'
    aws_workdir = null
    aws_results_dir = null
    aws_private_results_dir = null
    aws_job_role = null
    aws_logs_group = '/aws/batch/job'
    hrd_x86_container = null
    parabricks_container = null
    aws_max_retries = 1
    skip_wiki_checks = false
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
}

trace {
    overwrite = true
}

report {
    overwrite = true
}

timeline {
    overwrite = true
}

profiles {
    local {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
        process.container = params.container
        params.repo_dir = '/opt/diana-omics'
        params.skip_wiki_checks = true
    }

    awsbatch {
        process.executor = 'awsbatch'
        process.container = params.container
        process.queue = params.aws_queue
        process.errorStrategy = ((params.aws_max_retries as int) > 0) ? 'retry' : 'terminate'
        process.maxRetries = params.aws_max_retries as int
        env.AWS_CA_BUNDLE = '/etc/ssl/certs/ca-certificates.crt'
        env.DIANA_OMICS_COMMAND_HEARTBEAT_SECONDS = '60'
        env.DIANA_OMICS_DOWNLOAD_HEARTBEAT_SECONDS = '60'
        params.repo_dir = '/opt/diana-omics'
        aws.region = params.aws_region
        aws.batch.jobRole = params.aws_job_role
        aws.batch.logsGroup = params.aws_logs_group
        aws.batch.cliPath = '/opt/diana-aws/bin/aws'
        workDir = params.aws_workdir
        params.skip_wiki_checks = true
        params.phase3_delete_sra_after_conversion = true
    }

    awsbatch_spot {
        process.executor = 'awsbatch'
        process.container = params.container
        process.queue = params.aws_spot_queue
        process.errorStrategy = ((params.aws_max_retries as int) > 0) ? 'retry' : 'terminate'
        process.maxRetries = params.aws_max_retries as int
        env.AWS_CA_BUNDLE = '/etc/ssl/certs/ca-certificates.crt'
        env.DIANA_OMICS_COMMAND_HEARTBEAT_SECONDS = '60'
        env.DIANA_OMICS_DOWNLOAD_HEARTBEAT_SECONDS = '60'
        params.repo_dir = '/opt/diana-omics'
        aws.region = params.aws_region
        aws.batch.jobRole = params.aws_job_role
        aws.batch.logsGroup = params.aws_logs_group
        aws.batch.cliPath = '/opt/diana-aws/bin/aws'
        workDir = params.aws_workdir
        params.outdir = params.aws_results_dir
        params.skip_wiki_checks = true
        params.phase3_delete_sra_after_conversion = true
    }

    awsbatch_ondemand {
        process.executor = 'awsbatch'
        process.container = params.container
        process.queue = params.aws_ondemand_queue
        process.errorStrategy = ((params.aws_max_retries as int) > 0) ? 'retry' : 'terminate'
        process.maxRetries = params.aws_max_retries as int
        env.AWS_CA_BUNDLE = '/etc/ssl/certs/ca-certificates.crt'
        env.DIANA_OMICS_COMMAND_HEARTBEAT_SECONDS = '60'
        env.DIANA_OMICS_DOWNLOAD_HEARTBEAT_SECONDS = '60'
        params.repo_dir = '/opt/diana-omics'
        aws.region = params.aws_region
        aws.batch.jobRole = params.aws_job_role
        aws.batch.logsGroup = params.aws_logs_group
        aws.batch.cliPath = '/opt/diana-aws/bin/aws'
        workDir = params.aws_workdir
        params.outdir = params.aws_results_dir
        params.skip_wiki_checks = true
        params.phase3_delete_sra_after_conversion = true
    }

    awsbatch_hrd_x86 {
        process.executor = 'awsbatch'
        process.container = params.hrd_x86_container
        process.queue = params.aws_hrd_x86_queue
        process.errorStrategy = ((params.aws_max_retries as int) > 0) ? 'retry' : 'terminate'
        process.maxRetries = params.aws_max_retries as int
        env.AWS_CA_BUNDLE = '/etc/ssl/certs/ca-certificates.crt'
        env.DIANA_OMICS_COMMAND_HEARTBEAT_SECONDS = '60'
        env.DIANA_OMICS_DOWNLOAD_HEARTBEAT_SECONDS = '60'
        params.repo_dir = '/opt/diana-omics'
        aws.region = params.aws_region
        aws.batch.jobRole = params.aws_job_role
        aws.batch.logsGroup = params.aws_logs_group
        aws.batch.cliPath = '/opt/diana-aws/bin/aws'
        workDir = params.aws_workdir
        params.outdir = params.aws_private_results_dir
        params.skip_wiki_checks = true
        params.phase3_delete_sra_after_conversion = true
    }

    awsbatch_gpu {
        process {
            executor = 'awsbatch'
            container = params.container
            queue = params.aws_ondemand_queue
            errorStrategy = ((params.aws_max_retries as int) > 0) ? 'retry' : 'terminate'
            maxRetries = params.aws_max_retries as int

            withLabel: cpu_io {
                container = params.container
                queue = params.aws_ondemand_queue
            }

            withLabel: gpu_parabricks {
                container = params.parabricks_container
                queue = params.aws_gpu_queue
                accelerator = params.phase3_fast_parabricks_num_gpus as int
            }
        }
        env.AWS_CA_BUNDLE = '/etc/ssl/certs/ca-certificates.crt'
        env.DIANA_OMICS_COMMAND_HEARTBEAT_SECONDS = '60'
        env.DIANA_OMICS_DOWNLOAD_HEARTBEAT_SECONDS = '60'
        params.repo_dir = '/opt/diana-omics'
        aws.region = params.aws_region
        aws.batch.jobRole = params.aws_job_role
        aws.batch.logsGroup = params.aws_logs_group
        aws.batch.cliPath = '/opt/diana-aws/bin/aws'
        workDir = params.aws_workdir
        params.outdir = params.aws_private_results_dir
        params.skip_wiki_checks = true
        params.phase3_delete_sra_after_conversion = true
    }
}
