params {
    workflow = 'quick'
    phase3_reads = null
    allow_full_wgs = false
    outdir = "${projectDir}/nextflow-out"
    python_bin = '/usr/bin/python3'
    repo_dir = projectDir.toString()
    container = 'diana-omics:local'
    aws_queue = null
    aws_region = 'us-west-2'
    aws_workdir = null
    skip_wiki_checks = false
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
}

profiles {
    local {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
        process.container = params.container
        params.repo_dir = '/opt/diana-omics'
        params.skip_wiki_checks = true
    }

    awsbatch {
        process.executor = 'awsbatch'
        process.container = params.container
        process.queue = params.aws_queue
        aws.region = params.aws_region
        workDir = params.aws_workdir
        params.skip_wiki_checks = true
    }
}
